<mat-toolbar color="primary">
    <span>Product</span>
</mat-toolbar>
<form [formGroup]="productForm" (ngSubmit)="onSave()">
    <div class="fields-container">
        <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Categories</mat-label>
            <input type="text" matInput formControlName="categories" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let category of (filteredCategories | async)" [value]="category.name">
                <span>{{ category.name }}</span>
            </mat-option>
        </mat-autocomplete>

    </div>
    <div style="display: flex">
        <button type="button" class="new-button" (click)="newProduct()" mat-raised-button>New</button>
        <button type="submit" class="save-button" color="primary" [disabled]="productForm.invalid"
            mat-raised-button>Save</button>
    </div>
</form>