:host { 
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.action-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.action-button {
    margin-left: 10px;
}

.green-backdrop {
    background-color: #008000;
    opacity: 1.0 !important;
  }