<mat-card>
    <mat-card-title>
        Product
    </mat-card-title>
    <form [formGroup]="productForm" (ngSubmit)="onSave()">
        <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Categories</mat-label>
            <input type="text" matInput formControlName="categories" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let category of (filteredCategories | async)" [value]="category.name">
                <span>{{ category.name }}</span>
            </mat-option>
        </mat-autocomplete>

        <div>
            <button type="button" (click)="addAttribute()">Add</button>
        </div>        
        <table class="mat-form-field-wrapper" mat-table [dataSource]="attributesDataSource" formArrayName="attributes">
            <!-- Row definitions -->
            <tr mat-header-row *matHeaderRowDef="attributesDisplayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: attributesDisplayColumns;"></tr>
            <!-- Column definitions -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput type="text" formControlName="name" placeholder="Name">
                </td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput type="text" formControlName="value" placeholder="Value">
                </td>
            </ng-container>
        </table>

        <div style="display: flex">
            <button type="button" class="new-button" (click)="newProduct()" mat-raised-button>New</button>
            <button type="submit" class="save-button" color="primary" [disabled]="productForm.invalid"
                mat-raised-button>Save</button>
        </div>
    </form>
</mat-card>