<mat-card>
    <mat-card-title>
        Category
    </mat-card-title>
    <form [formGroup]="categoryForm" (ngSubmit)="onSave()">
        <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Parent</mat-label>
            <input type="text" matInput formControlName="parent" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let category of (filteredCategories | async)" [value]="category.name">
                <span>{{ category.name }}</span>
            </mat-option>
        </mat-autocomplete>

        <div style="display: flex">
            <button type="button" class="new-button" (click)="newCategory()" mat-raised-button>New</button>
            <button type="submit" class="save-button" color="primary" [disabled]="categoryForm.invalid"
                mat-raised-button>Save</button>
        </div>
    </form>
</mat-card>