<mat-toolbar>
        <span>Category</span>
</mat-toolbar>
<mat-card>
    <form [formGroup]="categoryForm" #categoryFormDirective="ngForm" (ngSubmit)="onSave()">
        <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <mat-error>{{ CategoryValidator.getNameErrorMessage(categoryForm) }}</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Parent</mat-label>
            <input type="text" matInput formControlName="parent" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let category of (filteredCategories | async)" [value]="category.name">
                <span>{{ category.name }}</span>
            </mat-option>
        </mat-autocomplete>

        <div class="action-buttons-container">
            <button type="submit" class="action-button" color="primary" [disabled]="categoryForm.invalid"
                mat-raised-button>Save</button>
            <button type="button" class="action-button" (click)="newCategory()" mat-raised-button>New</button>
            <button type="button" class="action-button" [disabled]="!category._id" (click)="deleteCategory()"
                mat-raised-button>Delete</button>
        </div>

    </form>
</mat-card>