<form [formGroup]="categoryForm" (ngSubmit)="onSave()">
    <div class="fields-container">
        <mat-form-field floatLabel="always">
            <mat-label>Category</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Parent</mat-label>
            <input type="text" matInput formControlName="parent" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of parents" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
    </div>
    <button type="submit" class="save-button" mat-raised-button>Save</button>
</form>