
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/categories">Category</button>
        <button mat-button routerLink="/products">Product</button>
        <span class="spacer"></span>
        <a mat-button routerLink="/registration">Register</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button (click)="logout()">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>

<div class="router-outlet-height">
<router-outlet></router-outlet>
</div>